<h1>Homepage</h1>
<h2>Rituals</h2>
<a>The following is a table, showing stuff in my PostgreSQL database</a>

<table>
    <tr>
        <th>TITLE</th>
        <th>BODY</th>
    </tr>    
    <% @rituals.each do |ritual| %>
        <tr>
            <td>
                <%= ritual.title %>
            </td>
            <td>
                <%= ritual.body %>
            </td>
        </tr>
    <% end %>
    
</table>