<h1>Homepage</h1>
<h2>Rituals</h2>

<%= render 'rituals/form' , ritual: @ritual %>


<p>The following is a table, showing stuff in my PostgreSQL database</p>
<table>
    <tr>
        <th>TITLE</th>
        <th>BODY</th>
    </tr>    
    <% @rituals.each do |ritual| %>
        <tr>
            <td>
                <%= ritual.title %>
            </td>
            <td>
                <%= ritual.description %>
            </td>
            <td>
                <%= link_to 'Destroy', ritual, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
    
</table>